<div class="row">
    <div class="col-md-12">
          <h2>Items <a href="/items/add" class="btn btn-success pull-right">Add Item</a><h2>
          <hr />
          <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Item ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Item Date</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Published</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each items}}
                        <tr>
                            <th scope="row">{{this.id}}</th>
                            <td>{{this.title}}</td>
                            <td>{{#formatDate this.postDate}}{{/formatDate}}</td>
                            <td>{{this.price}}</td>
                            <td><a href="/items?category={{this.category}}">{{this.category}}</a></td>
                            <td>{{this.published}}</td>
                            <td><a href="/items/delete/{{this.id}}" class="btn btn-danger">remove</a></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
    </div>
</div>
{{#unless items}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
    {{/unless}}
</div>